.header {
  display: flex;
  align-items: center;
  height: 17vh;
  padding: 0 65px;
  width: 100%;
  position: fixed;
}

.headerWithBg {
  display: flex;
  align-items: center;
  height: 17vh;
  padding: 0 65px;
  width: 100%;
  position: fixed;
  background: #6244bc;
}

.header__logo {
  object-fit: contain;
  margin-left: 20px;
  margin-right: 75px;
}

a {
  text-decoration: none;
  color: white;
}

.header__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Karla", sans-serif;
}

.navbar__link--active {
  color: #20aadd;
}

.navbar__link:hover {
  color: #20aadd;
}

.navbar__link {
  padding-right: 54px;
  font-size: 17px;
  line-height: 100px;
}

.header__buttons {
  margin-left: 30px;
}

.header__buttons > button {
  padding: 5px 13px;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 36px;
  border: 2px solid #ffffff;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: transparent;
  cursor: pointer;
  font-family: "Karla", sans-serif;
}
